my_project_env/
*.root
*.ipynb
Scripts/my_env/
Logs/
coffeaOutputs/
Scripts/logger.txt
my_env
*.pyc
Scripts/lib/secrets.py
src/Scripts/plots/
src/Scripts/outputs/
src/Scripts/reports/*.aux
src/Scripts/reports/*.fdb_latexmk
src/Scripts/reports/*.fls
src/Scripts/reports/*.log
src/Scripts/reports/*.pdf
src/Scripts/reports/*.synctex.gz
src/Scripts/reports/filled.tex
src/Scripts/reports/output.tex
src/Scripts/reports/trial.txt
src/Datasets/sampleFiles*
src/Datasets/dataFiles*
src/Scripts/lib/credentials.yaml
src/Scripts/DataMC/trial.ipynb
*.npy
*.png
*.csv
*.coffea
src/Scripts/BDT/outputs/
src/Scripts/.env
*.parquet
*.coffea
*.gz
*.pkl
*.json
*.env